.container {
  max-width: 1220px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.hero-container {
  max-width: 848px;
  padding: 0 24px;
  margin: 0 auto;
}
.footer-container {
  max-width: 1220px;
  padding: 0 24px;
  margin: 0 auto;
}

.app-container  {
  max-width: 1100px;
}