.hero {
}
.hero__inner {
  text-align: center;
}
.hero__inner-heading {
  font-weight: 700;
  font-size: 64px;
  line-height: 141%;
  text-align: center;
  color: #1c0e0d;
}
.hero__inner-text {
}
.hero__inner-btn {
}
